[project]
	description = Project based on Traccar
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ana María Orozco (anaorozco)
[access "refs/for/refs/*"]
	read = group user/Ana María Orozco (anaorozco)
	push = group user/Ana María Orozco (anaorozco)
	label-Code-Review = -2..+2 group user/Ana María Orozco (anaorozco)
	label-Verified = -1..+1 group user/Ana María Orozco (anaorozco)
	rebase = group user/Ana María Orozco (anaorozco)
	removeReviewer = group user/Ana María Orozco (anaorozco)
	submit = group user/Ana María Orozco (anaorozco)
[access "refs/heads/*"]
	read = group user/Ana María Orozco (anaorozco)
	create = group user/Ana María Orozco (anaorozco)
	push = +force group user/Ana María Orozco (anaorozco)
	pushMerge = group user/Ana María Orozco (anaorozco)
[access "refs/tags/*"]
	push = group user/Ana María Orozco (anaorozco)
	push = +force group user/Ana María Orozco (anaorozco)
